img{
    width: 300px;
    height:auto;
    padding: 5px;
}

.container{
    border: 1px solid blue;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content:center;
}