*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    background:linear-gradient(to left, red, blue);
}
h1{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    color: brown;
    font-size: 30px;
}


#p1{
    font-family: 'Rubik', sans-serif;
    background-color: rgb(255, 127, 232);
    color: rgb(97, 42, 165);
    font-size: 30px;  
}
#p2{
    background-color: rgb(255, 127, 232);
    color: rgb(42, 165, 79);
    font-size: 30px;
}
#p3{
    background-color: rgb(127, 255, 195);
    color: brown;
    font-size: 30px; 
}
#p3:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(42, 165, 95);
}
p{
    background-color: rgb(146, 127, 255);
    color: brown;
    font-size: 30px;
}
img{
    width: 400px;
    height:300px;
}
img[alt]{
    color: rgb(42, 153, 165);
}